<% layout("/layouts/boilerplate") %>

<body>
  
  <form action="/listings" method="POST" class="needs-validation"
  novalidate>
    
    <div class="row">
      
      <div class="col-8 offset-2">
        <br><br>
        <h3>create new listings</h3>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        placeholder="Title"
        class="form-control"
        required
      />
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>

      <input
        type="text"
        name="listing[description]"
        placeholder="Description"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Image Link</label>
      <input
        type="text"
        name="listing[image]"
        placeholder="Image URL"
        class="form-control"
        required
      />
    </div>

   <div class="row">
      <div class="mb-3 col-md-4">
      <label for="number" class="form-label">Price</label>

      <input
        type="number"
        name="listing[price]"
        placeholder="Price"
        class="form-control"
        required
      />
    </div>

    <div class="mb-3 col-8">
      <label for="country" class="form-label">Country</label>
      <input
        type="text"
        name="listing[country]"
        placeholder="Country"
        class="form-control"
        required
      />
    </div>
   </div>

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input
        type="text"
        name="listing[location]"
        placeholder="Location"
        class="form-control"
        required
      />
    </div>

    <button class="btn btn-dark addBtn">Create</button>
  </form>
  </div>
  </div>
  <br><br>
</body>
